* {
    box-sizing: border-box;
}

body{
    /* display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 2px solid red;  */
    background-color: #fff0f3;
    /* #fffff0; */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;

    background-color: #ffccd5;
    width: 100%;
    max-width: 1130px;
    min-height: 88vh;
    margin: 2% auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #0000001a;
    transition: filter .3s ease-in-out;
    font-family: 'Lato', fantasy;
    /* font-weight: bolder; */
}

.Header {
    /* background-color: #d41135; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#title {
    /* font-size:100%; */
    font-weight: lighter;
    font-size: 85px;
    color: white;
    /* font-family: 'Modak', fantasy; */
    letter-spacing: 2px;
    font-family: 'Rubik Bubbles', fantasy;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#title_easy {
    /* font-size:100%; */
    font-weight: lighter;
    font-size: 85px;
    color: white;
    font-family: 'Modak', cursive;
    letter-spacing: 2px;
    font-family: 'Modak', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
#title_hard {
    /* font-size:100%; */
    font-weight: lighter;
    font-size: 85px;
    color: white;
    font-family: 'Modak', cursive;
    letter-spacing: 2px;
    font-family: 'Modak', cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#Timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 6px #0000001a;
    
    background-color: #fff0f3c8;
    /* border: #000 solid 2px; */
    width: 200px;
    height: 60px;

    position: absolute;
    top: 180px;
    right: 100px;

    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;

    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;
    /* cursor: pointer; */
}
#homebtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff0f3;
    /* border: #000 solid 2px; */
    width: 50px;
    height: 50px;

    position: absolute;
    top: 180px;
    left: 100px;

    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;

    margin-top: 10px;
    border-radius: 100px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;
    cursor: pointer;
}
#homebtn > img {
    width: 30px;
    height: 30px;
}


.GameList {
    /* background-color: #fff0f3; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: row;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

#GameMode {
    /* line-height: 1.5;  얘는 그 글자 두줄 이상인데 줄간격(행간)*/ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff0f3;
    width:300px;
    height: 170px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;
    cursor: pointer;

    font-size: 40px;
    font-weight: bolder;
    text-decoration: none;

}
#GameMode:hover { /*마우스 올렸을 때*/
    /* background-color: #ffccd5; */
    transition: background-color 0.2s ease-in-out;
    background-color: #d0def3;
    box-shadow: inset 0 4px 6px #0000001a;
} 
#GameMode:focus { /*포커스 됐을 떄*/
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 0, 0);
}
#GameMode:active { /*클릭했을 때*/
    background-color: #d0def3;
    box-shadow: inset 0 4px 6px #0000001a;
}

#levelBox {
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    background-color: #fff0f3;
    width: 280px;
    height: 170px;
    /* margin: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;

    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-decoration: none; 
}
#levelBox:hover { /*마우스 올렸을 때*/
    /* background-color: #ffccd5; */
    /* background-color: #ffccd5; */
    transition: background-color 0.2s ease-in-out;
    background-color: #ffdfe5;
    box-shadow: inset 0 4px 6px #0000001a;;
} 
#levelBox:focus { /*포커스 됐을 떄*/
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 0, 0);
}
#levelBox:active { /*클릭했을 때*/
    background-color: #d0def3;
    box-shadow: inset 0 4px 6px #0000001a;
}

.levelBox {
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    background-color: #fff0f3;
    width:280px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;

    font-size:50px;
    font-weight: 700;
    color: #000;
    text-decoration: none; 
}
.levelBox:hover { /*마우스 올렸을 때*/
    /* background-color: #ffccd5; */
    transition: background-color 0.2s ease-in-out;
    background-color: #fff0f3;
    box-shadow: inset 0 4px 6px #0000001a;
} 
.levelBox:focus { /*포커스 됐을 떄*/
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 0, 0);
}
.levelBox:active { /*클릭했을 때*/
    background-color: #fff0f3;
    box-shadow: inset 0 4px 6px #0000001a;
}

.tb {
    /* background-color: bisque; */
    height: 200px;
    margin: 0;
    padding-bottom: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-size:30px;
    font-weight: 700;
    text-decoration: none; 
}
.diff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
    align-items: center;

    height: 100px;
    margin-bottom: 10px;
}


#easy {    
    background-color: #A3C4F3;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size:22px;
    font-weight: 700;
    text-decoration: none; 
    color: #000;
    
    margin: 0px 10px 0px 10px;
    border-radius: 10px;

    align-content: center;
}
#easy:hover { /*마우스 올렸을 때*/
    background-color: #d3e5ff;
    box-shadow: inset 0 4px 6px #0000001a;
} 
#easy:focus { /*포커스 됐을 떄*/
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 0, 0);
}
#easy:active { /*클릭했을 때*/
    background-color: #d3e5ff;
    box-shadow: inset 0 4px 6px #0000001a;
}


#hard {    
    background-color: #F1C0E8;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size:22px;
    font-weight: 700;
    text-decoration: none; 
    color: #000;

    margin: 0px 10px 0px 10px;
    border-radius: 10px;

    align-content: center;
}
#hard:hover { /*마우스 올렸을 때*/
    /* background-color: #ffccd5; */
    transition: background-color ;
    /* background-color: #F1C0E8; */
    background-color: #ffdff9;
    box-shadow: inset 0 4px 6px #0000001a;
} 
#hard:focus { /*포커스 됐을 떄*/
    outline: none;
    box-shadow: 0 0 0 3px rgb(255, 0, 0);
}
#hard:active { /*클릭했을 때*/
    background-color: #ffdff9;
    box-shadow: inset 0 4px 6px #0000001a;
}

.bottom {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
}

#rules {
    /* cursor: pointer; */
    align-content: center;
    text-align: center;

    background-color: #fff0f3;
    width: 200px;
    height: 60px;

    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;

    font-size:25px;
    font-weight: 700;
    text-decoration: none;
}

