* {
    box-sizing: border-box;
}

body{
    /* display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 2px solid red;  */
    background-color: #fff0f3;
    /* #fffff0; */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;

    background-color: #ffccd5;
    width: 100%;
    max-width: 1130px;
    min-height: 88vh;
    margin: 2% auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #0000001a;
    transition: filter .3s ease-in-out;
    
}

.Header {
    /* background-color: #d41135; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.GameList {
    /* background-color: #fff0f3; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.bottom {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
}

#title {
    font-size:100%;
    font-weight: bolder;
    font-size: 70px;
}
#Timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff0f3;
    width: 200px;
    height: 60px;

    position: absolute;
    top: 180px;
    right: 100px;

    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;

    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;
    cursor: pointer;
}

#GameMode {
    /* line-height: 1.5;  얘는 그 글자 두줄 이상인데 줄간격(행간)*/ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff0f3;
    width:300px;
    height: 170px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;
    cursor: pointer;

    font-size: 25px;
    font-weight: 700;
    text-decoration: none;

}

#rules {
    /* cursor: pointer; */
    align-content: center;
    text-align: center;

    background-color: #fff0f3;
    width: 200px;
    height: 60px;

    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;

    font-size:25px;
    font-weight: 700;
    text-decoration: none;
}

#levelBox {
    /* cursor: pointer; */
    align-content: center;
    text-align: center;

    background-color: #fff0f3;
    width:280px;
    height: auto;
    padding: 60px 0;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000001a;
    color: #000;

    font-size:25px;
    font-weight: 700;
    text-decoration: none;
} 